
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAkademisyen.cshtml";
}

<div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-info" style="background: #9b8080; border:0px">
                <i class="fas fa-align-left"></i>
            </button>
            <h3 style="position:absolute; right:90px; top:3px"> KAYSERİ ÜNİVERSİTESİ</h3>
            <img src="~/login-form-v1/Login_v1/images/uniLogo.png" style="height:60px; position:absolute; right:10px; top:2px; " />
        </div>
    </nav>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <img src="~/login-form-v1/Login_v1/images/EnlqCylWEAA6RKh.jpg"
                     style="float: left; padding: 0 70px 20px 0; height: 550px;" /><h1 style="font-family: 'Vladimir Script'; padding: 100px 50px 10px 10px ">
                    En önemli ve feyizli görevlerimiz, milli egitim isleridir.
                    Milli egitim islerinde mutlaka muzaffer olmak lazımdır. Bir milletin gerçek kurtulusu ancak bu suretler olur.
                </h1>
                <br />
                <img src="~/login-form-v1/Login_v1/images/imza.png" style="height:100px; float:right; padding:0px 50px 0px 0px" />
            </div>
        </nav>
    </div>
</div>




