
@{
    ViewBag.Title = "OgrEkle";
    Layout = "~/Views/Shared/_LayoutAkademisyen.cshtml";
}

<div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-info" style="background: #9b8080; border:0px">
                <i class="fas fa-align-left"></i>
            </button>
            <h3 style="position:absolute; right:90px; top:3px"> KAYSERİ ÜNİVERSİTESİ</h3>
            <img src="~/login-form-v1/Login_v1/images/uniLogo.png" style="height:60px; position:absolute; right:10px; top:2px" />
        </div>
    </nav>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <h2>Öğrenci EKLE</h2>
                <br />
                <form method="post">
                    <i class="fa fa-user" style="font-size:25px"></i>
                    &nbsp;&nbsp;ÖĞRENCİ ADI :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="OgrenciAdi" placeholder="Adı" style="position:relative" required />
                    <br />
                    <br />
                    <br />
                    <br />
                    <i class="fa fa-user" style="font-size:25px"></i>
                    &nbsp;&nbsp;ÖĞRENCİ SOYADI : &nbsp;&nbsp;<input type="text" name="OgrenciSoyadi" placeholder="Soyadı" required />
                    <br />
                    <br />
                    <br />
                    <br />
                    <i class="fa fa-university" style="font-size:25px"></i>
                    &nbsp;&nbsp;ÜNİVERSİTE ADI : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="OgrenciUniversite" placeholder="Üniversite" required/>
                    <br />
                    <br />
                    <br />
                    <br />
                    <i class="fa fa-briefcase" style="font-size:25px"></i>
                    &nbsp;&nbsp;FAKÜLTE ADI : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="OgrenciFakulte" placeholder="Fakülte" required/>
                    <br />
                    <br />
                    <br />
                    <br />
                    <i class="fa fa-phone" style="font-size:25px"></i>
                    &nbsp;&nbsp;TELEFON : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" name="OgrenciTelefon" placeholder="Telefon" required/>
                    <br />
                    <br />
                    <br />
                    <br />
                    <i class="fa fa-envelope" style="font-size:25px"></i>
                    &nbsp;&nbsp;ÖĞRENCİ E-POSTA :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="email" name="OgrenciMail" placeholder="E-Posta" required />
                    <br />
                    <br />
                    <button type="submit" style="background-color: #cb5400; font-size: 25px; display: inline-block; text-decoration: none; padding: 8px 18px; color: white; border-radius: 5px 5px 5px 5px ">+</button>
                </form>
            </div>
        </nav>
    </div>
</div>



